<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="BonCode-Tomcat-JSP-Handler" path="*" verb="*" type="BonCodeIIS.BonCodeCallHandler" resourceType="Unspecified" requireAccess="Script" preCondition="integratedMode" />
        </handlers>
        <defaultDocument>
            <files>
                <remove value="default.aspx" />
                <remove value="index.html" />
                <remove value="Default.asp" />
                <remove value="iisstart.htm" />
                <remove value="index.htm" />
                <remove value="Default.htm" />
                <add value="login.jsp" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
